[submodule "duri_core_legacy"]
  path = duri_core_legacy
	url = https://github.com/duri-duri/duri_core.git
[submodule "duri_brain_legacy"]
  path = duri_brain_legacy
	url = https://github.com/duri-duri/duri_brain.git
[submodule "duri_evolution_legacy"]
  path = duri_evolution_legacy
	url = https://github.com/duri-duri/duri_evolution.git
[submodule "duri_control_legacy"]
  path = duri_control_legacy
	url = https://github.com/duri-duri/duri_control.git
